* {
	user-select: none;
}

body{
	margin: 0;
    background-color: rgb(214, 113, 12);
    height: 740px;
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/bd/7e/57/bd7e575a80a12958ed625157327ffbfa.jpg');
    background-size: cover;
}

.factory, .base, .robot {
	position: absolute;
	cursor: pointer;
}

.factory {
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/08/22/af/0822afa8ccc7aee3067b6fe8e909c2bc.jpg');
	width: 100px;
	height: 100px;
	background-size: 400px 210px;
	background-position: -100px -50px;
}

.turret {
	width:60px;
	height:60px;
	position: absolute;
	background-color: black;
	/*background-size: 60px 60px;
	background-position: -100px -50px;
*/}
.turret-cannon {
	width: 5px;
	height: 35px;
	position: relative;
	top: 10px;
	left: 27px;
	background: white;

}

.base {
	width: 150px;
	height: 100px;
}

.civ1-base {
	background-image: url('../images/base1.jpg');
	background-size: cover;
}

.civ2-base {
	background-image: url('../images/base2.jpg');
	background-size: 160px 100px;
	background-position-x: -10px;
}

.robot {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	z-index: 3;/* below HUD, above buildings */
}

.missile {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: red;
	position: absolute;
}

.civ1-robot {
	background-image: url('../images/eskie.jpg');
	background-size: 40px 60px;
	background-position: 0 -10px;
	top: 200px;
}

.civ2-robot {
	background-image: url('../images/beagle.jpg');
	background-size: 80px 53px;
	background-position: -18px -7px;
	top: 500px;
}

.health-bar {
	background-color: #0088FF;
	position: relative;
	height: 7px;
	top: -13px;
}

/* Heads-up display */
#hud-display {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 5;
}


#profile {
	width: 130px;
}

#profile, #thumbnail {
	position: absolute;
	top: 0;
	right: 0;
}

#hud-bar {
	height: 7px;
	width: 100px;
}

#thumbnail {
	width: 80px;
	height: 65px;
	background-size: cover;
	background-position: center;
	right: 150px;
	border: none;
}

.icon {
	position: relative;
	left: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
}



/* Menu */
#menu {
	position: absolute;
	top: 0;
	left: 80px;
	height: inherit;
	/*width: 50px;*/
}
.option {
	width: 50px;
	height: inherit;
	display: inline-block;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.option:hover {
	filter: brightness(150%);
}
.submenu {
	height: inherit;
	display: none;
}
#build-factory {
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/08/22/af/0822afa8ccc7aee3067b6fe8e909c2bc.jpg');
}
#build-base {
	background-image: url('../images/base1.jpg');
}
#build-greenhouse {
	background-image: url('https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2014/uadocumentar.jpg');
}
#build-robot {
	background-image: url('../images/eskie.jpg');
}
#build-turret {
	background-image: url('https://img2.cgtrader.com/items/194155/476c2c398d/turret-sci-fi-lowpoly-3d-model-3d-model-max-obj.jpg');
}

.mine {
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
}
