
body{
	margin: 0;
    background-color: rgb(214, 113, 12);
}

.base1, .base2 {
	position: absolute;
	width: 100px;
	height: 100px;
	background: black;
}

.civ1, .civ2 {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: absolute;	
}

.civ1{
	background-image: url('../images/eskie.jpg');
	background-size: 47px 71px;
	background-position: -10px -10px;
}

.civ2{
	background-image: url('../images/beagle.jpg');
	background-size: 80px 53px;
	background-position: -18px -7px;
}


.health {
	background: green;
	position: relative;
	top: -13px;
	left: -5px;
}

#hud-display {
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	height: 65px;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 5;
}
.icon {
	position: relative;
	left: 5px;
	top: 5px;
	width:25px;
	height:25px;
}
.mine {
	width:25px;
	height:25px;
	position: absolute;
}


