* {
	user-select: none;
}

body{
	margin: 0;
    background-color: rgb(214, 113, 12);
    height: 740px;
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/bd/7e/57/bd7e575a80a12958ed625157327ffbfa.jpg');
    background-size: cover;
}


.factory {
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/08/22/af/0822afa8ccc7aee3067b6fe8e909c2bc.jpg');
	position: absolute;
	width: 100px;
	height: 100px;
	background-size: 400px 210px;
	background-position: -100px -50px;
	cursor: pointer;
}

.base {
	position: absolute;
	left: 400px;
	width: 150px;
	height: 100px;
	background: black;
	cursor: pointer;
}

.civ1-base {
	top: 80px;
	background-image: url("../images/base1.jpg");
	background-size: cover;
}

.civ2-base {
	top: 570px;
	background-image: url('../images/base2.jpg');
	background-size: 160px 100px;
	background-position-x: -10px;
}

.civ1, .civ2 {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: absolute;
	cursor: pointer;
	z-index: 3;/* below HUD, above buildings */
}

.civ1{
	background-image: url('../images/eskie.jpg');
	background-size: 40px 60px;
	background-position: 0 -10px;
	top: 200px;
}

.civ2{
	background-image: url('../images/beagle.jpg');
	background-size: 80px 53px;
	background-position: -18px -7px;
	top: 500px;
}


.health-bar {
	background-color: #0088FF;
	position: relative;
	height: 7px;
	top: -13px;
}

#hud-display {
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	height: 65px;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 5;
}
.icon {
	position: relative;
	left: 5px;
	top: 5px;
	width: 25px;
	height: 25px;
}
.mine {
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
}


