<!DOCTYPE html>
<html>
<head>
	<title>Mars Collapse</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/styling.css"/>
</head>
<body>
	<div id = "hud-display">
		<img class= "icon" id = "metal" src = "images/metal_icon.png">
		<span id = "metal-amount"></span>
		<br>
		<img class= "icon" id = "robot" src = "images/robot_icon.png">
		<span id = "robot-amount"></span>

		<div id = "menu">
			<div class = "submenu" id = "default-submenu">
				<div class = "option" id = "build-factory" title = "Create factory"></div>
				<div class = "option" id = "build-base" title = "Create base"></div>
				<div class = "option" id = "build-greenhouse" title = "Create greenhouse"></div>
				<div class = "option" id = "build-turret" title = "Create turret"></div>
			</div>
			<div class = "submenu" id = "factory-submenu">
				<div class = "option" id = "build-robot" title = "Create robot"></div>
			</div>
		</div>

		<div id = "profile">
			<div id = "thumbnail"></div>
			<div id = "type"></div>
			<div id = "hud-bar"></div>
			<div id = "health-status"></div>
			<div id = "other"></div>
		</div>
	</div>

 	<script src = "javascripts/jquery.js"></script>
	<script src = "javascripts/Util.js"></script>
	<script src = "javascripts/Entities.js"></script>
	<script src = "javascripts/RobotAI.js"></script>

	<script src = "javascripts/models/Entity.js"></script>
	<script src = "javascripts/models/Building.js"></script>

	<script src = "javascripts/models/CivBase.js"></script>
	<script src = "javascripts/models/Factory.js"></script>
	<script src = "javascripts/models/Mine.js"></script>
	<script src = "javascripts/models/Robot.js"></script>
	<script src = "javascripts/models/Turret.js"></script>
	
	<script src = "javascripts/hud.js"></script>
	<script src = "javascripts/dynamics.js"></script>
	<script src = "javascripts/createObjects.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	var player = localStorage.getItem('gameId')
	console.log("player = " + player)

	//maybe t
	var socket = io('http://localhost:5000',{query : "gameId="+ player});

	socket.on("message", function(msg){
			console.log("player again = " +msg);


	})

	

	// var socket = io2();
	// var player = 0;
	// socket.on('deciding player number', function(playerNum){
	// 	if(playerNum === 1){
	// 		player = 1;
	// 	}else{
	// 		player = 2;
	// 	}

	// 	console.log("player number = " + player);
	// });

	startCivs(); //we will start civs with a special parameter to indicate whcih civ will the current user control
	</script>
</body>


</html>
