<!DOCTYPE html>
<html>
	<head>
		<title>Mars Collapse</title>
		<style>
			body {
				font: Helvetica, Arial;
			}
		</style>
	</head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>

	<body>

	<div id = 'main'> 
		
		<h2 id='name'></h2>
		<input id='input'><span id="feedback"></span>
		<ul id = "requests">
		</ul>

		<ul id='users'>
		
		</ul>
	 </div>

	</body>

	<script>
		
	var socket = io("/index");
	var globalName;

	socket.on('insert users', function (connectedMofos) {
		connectedMofos.forEach(function (mofo) {
			 var li = $('<li>', {id: mofo});
			 // li.attr('id', mofo);
			 li.text(mofo);
			 var button = generateButton(mofo);
			 li.append(button);
			 $('#users').append(li);
		});
	});

	socket.on('update user', function (mofo) {
		var li = $("#" + mofo.stale);
		li.text(mofo.fresh);
		li.attr('id', mofo.fresh);
		li.append(generateButton(mofo.fresh));
	});

	socket.on('delete user', function (mofo) {
		$("#" + mofo).remove();
	});

	socket.on('uuid', function(name){
		globalName = name;
		$("#name").text(name);
		$("#input").val(name);
		// sessionStorage.setItem('gameId', name); 
	});

	socket.on('status', function(status){
		if (status == "failure") {
			$("#feedback").text("Sorry, that name is already taken.");
			return;
		}
		var name = $("#input").val();
		globalName = name;
		$("#name").text(name);
		sessionStorage.setItem('gameId', globalName);
	});

	socket.on("war request", function (request) {
		if($('#'+ request.name +'').length ) { //if jquery exists, delete it and add an accept
			$('#'+ request.name +'').remove();
			var li = $('<li>');
			li.text(request.name);
			var button = $('<button>');
			button.text('Accept');
			button.click(function() {
				socket.emit('acceptance', request);
			});
			li.append(button);
			$('#requests').append(li);
		}
	});

	socket.on('start game', function (number) {
		localStorage.playerNum = number;
		location.href = "/game";
	});

	function generateButton(mofo) {
		var button = $('<button>');
		button.text('Send Request');
		button.click(function () {
			socket.emit('war request', {name: mofo});
			button.text('Cancel Request');
		});
		return button;
	}

	$('#input').on('input', function(){
		var input = $('#input').val();
		if (input == globalName) {
			$("#feedback").text("");
			return;
		}
		if (input === "") {
			$("#feedback").text("It needs to be at least one character.");
			return;
		}
		if (input.includes(" ")) {
			$("#feedback").text("No spaces, please.");
			return;
		}
		socket.emit('name change', input);
		$("#feedback").text("Changed!");
	});
	</script>
</html>